@use "../../main.scss" as *;

.header-input {
  width: 40%;
  padding: 7px 10px;
  font-size: 20px;
  background-color: $bgc-003;
  &::placeholder {
    color: #ffffff9a;
    font-weight: 100;
  }
  border-radius: $main-border-radius;
  &:focus {
    &::placeholder {
      color: #000;
      font-weight: 100;
    }
    background-color: #ffffffb6;
  }
}

.hamburger-svg {
  font-size: $svg-font-size;
}
