.note-index {
  padding: 220px;
  grid-row: 2;
  grid-column: 2;
  background-color: #333;
}

.note-preview {
  padding: 10px;
  border-radius: 5px;
  outline: 1px solid rgba(155, 155, 155, 0.486);
}
