@use "../../main.scss" as *;

:host {
  .note-preview {
    position: relative;
    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
    padding: $inline-space;
    border-radius: $main-border-radius;

    transition: filter 0.3s, transform 0.3s;
    padding-bottom: 40px;
    button {
      opacity: 0.1;
      position: absolute;
      right: 0;
      top: 0px;
      width: 30px;
      height: 30px;
      transition: opacity 0.4s;
      border: none;
      background-color: transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.322);
        color: white;
        opacity: 1;
        border-radius: 0 5px 0 5px;
        cursor: pointer;
      }
    }
    .icons-container {
      display: flex;
      transition: opacity 0.3s;
      gap: 10px;
      align-items: center;
      justify-content: space-evenly;
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: 95%;
      padding: 5px 3px;
      background-color: #ffffff0c;
      border-radius: 5px;
      outline: 1px solid rgba(0, 0, 0, 0.267);
      opacity: 0;
      &.hover {
        opacity: 1;
      }
    }
  }
}

.notes-layout {
  columns: auto 250px;
  column-gap: $inline-space;
  .note-preview {
    margin-block-end: $inline-space;
  }
}
