@use "../../main.scss" as *;

:host {
  .note-preview {
    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
    padding: $inline-space;
    border-radius: $main-border-radius;

    transition: filter 0.3s;
    overflow: auto;

    button {
      opacity: 0.1;
      position: absolute;
      right: 0;
      top: 0px;
      width: 30px;
      height: 30px;
      transition: opacity 0.4s;
      border: none;
      background-color: transparent;
      &:hover {
        background-color: rgba(0, 0, 0, 0.322);
        color: white;
        opacity: 1;
        border-radius: 0 5px 0 5px;
        cursor: pointer;
      }
    }
  }
}

.notes-layout {
  columns: auto 250px;
  column-gap: $inline-space;
  .note-preview {
    margin-block-end: $inline-space;
  }
}
