.main-layout {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: auto 1fr;
  transition: grid-template-columns 0.2s ease-in-out;
  min-height: 100vh;
  & > {
    height: 100%;
  }
  z-index: 1;
}

// ?navbar
.navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #2e2e2ec0;
  padding-inline-start: $inline-space;
  padding-inline-end: $inline-space;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 200px 1fr auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: #fff;
}

// ?sidebar
.sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.068);

  width: 200px;
  background-color: #2e2e2ec0;
  color: #fff;
  position: sticky;
  top: 64px;
  grid-column: 1;
  grid-row: 2;
  max-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in;
  p {
    opacity: 1;
  }
  .sidebar-link {
    padding: $inline-space;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    &.selected {
      background-color: #10101065;
    }
  }
  &.closed {
    width: 38px;
    p {
      display: none;
    }
  }
  & > :hover {
    cursor: pointer;
    background-color: #10101065;
  }
}

.notes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// ?note-index
.note-index {
  max-width: 100%;
  display: grid;
  display: flex;
  padding: 10px;
  grid-row: 2;
  grid-column: 2;
  overflow: auto;
  height: fit-content;
  padding: 10px;
}
.closed {
}
.opened {
}

.closed-index {
  width: 100%;
}

@media (max-width: 800px) {
  .main-layout {
    display: grid;
    grid-template-rows: 64px 1fr;
    grid-template-columns: 35px 1fr;
    transition: grid-template-columns 0.2s ease-in-out;
    min-height: 100vh;
    & > {
      height: 100%;
    }
    z-index: 1;
  }
  .closed {
  }
  .header-input {
    width: 90%;
  }
  .note-index {
    display: grid;
    grid-template-columns: 1fr;
  }
  .closed-index {
    width: 100%;
  }
  .open-index {
    .sidebar {
      width: 150px;
    }
  }
}
