.main-layout {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: 150px 1fr;
  min-height: 100vh;
  & > {
    height: 100%;
  }
  z-index: 1;
}

.sidebar {
  background-color: #2e2e2ec0;
  color: #fff;
  position: sticky;
  top: 64px;
  grid-column: 1;
  grid-row: 2;
  max-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  padding-block-start: 10%;
  gap: 3%;
  .sidebar-link {
    padding: 5px 10px;
  }
  & > :hover {
    cursor: pointer;
    background-color: #10101065;
  }
}

.navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #2e2e2ec0;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: #fff;
}

.note-index {
  columns: 5 100px;
  column-gap: 12px;
  padding: 20px;
  grid-row: 2;
  grid-column: 2;
  overflow: auto;
  height: fit-content;
}
